<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.namofo"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="20" />

    <supports-screens
        android:largestWidthLimitDp="320"
        android:xlargeScreens="true" />

    <application
        android:name=".app.AppContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/JieXieYinTheme">
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/JieXieYinTheme.TranslucentActionBar.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.AppStart"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragment.forum.ForumListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".fragment.forum.PostDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".ui.PDFViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/JieXieYinTheme.TranslucentActionBar"
            android:name=".ui.ArticleDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.DocViewActivity" android:theme="@style/JieXieYinTheme.TranslucentActionBar"/>
        <activity android:name=".ui.TxtViewActivity" android:theme="@style/JieXieYinTheme.TranslucentActionBar"/>
        <activity android:name=".ui.HtmlViewActivity" android:theme="@style/JieXieYinTheme.TranslucentActionBar"/>
        <activity android:name=".ui.BasicInfoActivity"/>
        <activity android:name=".ui.CommunicationInfoActivity" />
        <activity android:name=".ui.HealthInfoActivity" />
    </application>

</manifest>
